@font-face {
  font-family: "Nastaliq";
  font-style: normal;
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf) format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot);
  src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format("embedded-opentype"), url(../fonts/IRANSansWeb/IRANSansWeb.woff2) format("woff2"), url(../fonts/IRANSansWeb/IRANSansWeb.woff) format("woff"), url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format("truetype");
}

@font-face {
  font-family: Sahel;
  font-style: normal;
  src: url(../fonts/sahel/Sahel.eot);
  src: url(../fonts/sahel/Sahel.eot) format("embedded-opentype"), url(../fonts/sahel/Sahel.woff2) format("woff2"), url(../fonts/sahel/Sahel.woff) format("woff"), url(../fonts/sahel/Sahel.ttf) format("truetype");
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot);
  src: url(../fonts/sahel/Farsi-Digits/Sahel-FD.eot) format("embedded-opentype"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff2) format("woff2"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.woff) format("woff"), url(../fonts/sahel/Farsi-Digits/Sahel-FD.ttf) format("truetype");
}

@font-face {
  font-family: Samim;
  font-style: normal;
  src: url(../fonts/samim/Samim.eot);
  src: url(../fonts/samim/Samim.eot) format("embedded-opentype"), url(../fonts/samim/Samim.woff2) format("woff2"), url(../fonts/samim/Samim.woff) format("woff"), url(../fonts/samim/Samim.ttf) format("truetype");
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot);
  src: url(../fonts/samim/Farsi-Digits/Samim-FD.eot) format("embedded-opentype"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff2) format("woff2"), url(../fonts/samim/Farsi-Digits/Samim-FD.woff) format("woff"), url(../fonts/samim/Farsi-Digits/Samim-FD.ttf) format("truetype");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  src: url(../fonts/Vazir/Vazir.eot);
  src: url(../fonts/Vazir/Vazir.eot) format("embedded-opentype"), url(../fonts/Vazir/Vazir.woff2) format("woff2"), url(../fonts/Vazir/Vazir.woff) format("woff");
}

body {
  direction: rtl;
  text-align: right;
  font-family: "Samim";
  position: relative;
}

h4 {
  font-weight: bold !important;
  color: #1c7256;
  padding: 0 2rem 1rem;
  margin-bottom: 2.1rem !important;
  line-height: 1.4em;
  text-align: center;
  background: url(../img/title-lines.png) no-repeat center bottom;
  background-size: 75%;
}

.display-none {
  display: none;
}

main div.container-fluid {
  width: 100%;
  height: 500px;
  background-image: url("./../img/spring-flowers-plant-sale2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main div.container-fluid header.container-fluid {
  z-index: 100;
  background-color: rgba(53, 53, 53, 0.1);
}

main div.container-fluid header.container-fluid nav.navbar {
  background-color: rgba(255, 255, 255, 0.68);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0;
  padding-top: 0;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right {
  display: flex;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.hamburger-menu {
  display: inline-block;
  margin-top: 6px;
  padding-left: 2.2rem;
  position: absolute;
  left: .5rem;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.hamburger-menu span.menu.navbar-toggler-icon {
  width: 1.8em;
  height: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  border-radius: 4px;
  transition: transform .3s;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.hamburger-menu span.menu.navbar-toggler-icon div.menu-line {
  width: 100%;
  height: 4px;
  background-color: rgba(28, 114, 86, 0.7);
  border-radius: 2px;
  transition: all .3s .3s;
  transform-origin: left;
}

@media (max-width: 575px) {
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.hamburger-menu span.menu.navbar-toggler-icon {
    position: relative;
    bottom: 3px;
    left: -1rem;
  }
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.hamburger-menu .change .menu-line-1 {
  transform: rotate(45deg);
  width: 100%;
  height: 4px;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.hamburger-menu .change .menu-line-2 {
  opacity: 0;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.hamburger-menu .change .menu-line-3 {
  transform: rotate(-45deg);
  width: 100%;
  height: 4px;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right a.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  outline: 0;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right a.navbar-brand img.navbar-brand-img {
  width: auto;
  height: 60px;
  padding: 5px 0;
  margin-left: 30px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right a.navbar-brand img.navbar-brand-img {
    padding: 3px 0;
    margin-left: 3px;
  }
}

@media (max-width: 575px) {
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right a.navbar-brand img.navbar-brand-img {
    width: 50px;
    height: 45px;
    padding: 3px 0;
    margin-left: 3px;
  }
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.dropdown-menu {
  margin-top: 1.1rem;
  width: 12rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 1px;
  top: 2.68rem;
  padding-bottom: 0;
  padding-top: 0;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.dropdown-menu a.dropdown-item {
  text-align: right;
  color: #1c7256;
  outline: 0;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.dropdown-menu a.dropdown-item:hover {
  background-color: #f1f1f1;
}

@media (max-width: 991px) {
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.dropdown-menu {
    position: absolute;
    right: 1px;
    top: 2.5rem;
  }
}

@media (max-width: 767px) {
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.dropdown-menu#flowers {
    position: static;
    float: none;
  }
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.dropdown-menu#suitability {
    position: static;
    float: none;
  }
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.dropdown-menu#plants {
    position: static;
    float: none;
  }
}

@media (max-width: 991px) {
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right div.navbar-collapse.collapse.show {
    transform: translate(10%, 0);
    transition: transform .5s linear;
  }
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item {
  padding: 1rem 0;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item a.nav-link {
  font-size: 100%;
  font-weight: bold;
  color: #ea8b77;
  padding: 0 15px;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item a.nav-link:hover {
  text-shadow: 0 0.09rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item a.nav-link:focus {
  outline: 0;
  text-shadow: 0 0.09rem rgba(0, 0, 0, 0.3);
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item a.nav-link i.fa-angle-down {
  font-weight: bold;
  padding-right: 3px;
  transform: rotate(0deg);
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item a.nav-link .fa {
  transition: .3s transform ease-in-out;
}

@media (max-width: 767px) {
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item a.nav-link i.fa-angle-down {
    font-weight: bold;
    padding-right: 3px;
    transform: rotate(0deg);
  }
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item a.nav-link .fa {
    transition: .3s transform ease-in-out;
  }
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item a.nav-link img.delivery-icon {
  width: 41px;
  margin-bottom: 4px;
  position: relative;
  left: 5px;
  display: inline-block;
  animation-name: MoveUpDown;
  animation: MoveUpDown 1s linear infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes MoveUpDown {
  from {
    bottom: 0px;
  }
  to {
    bottom: 3px;
  }
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item.dropdown.show a.nav-link i.fa-angle-down {
  transform: rotate(180deg);
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item.dropdown.show a.nav-link .fa {
  transition: .3s transform ease-in-out;
}

@media (max-width: 767px) {
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item.dropdown.show a.nav-link i.fa-angle-down {
    font-weight: bold;
    padding-right: 3px;
    transform: rotate(180deg);
  }
  main div.container-fluid header.container-fluid nav.navbar div.navbar-right li.nav-item.dropdown.show a.nav-link .fa {
    transition: .3s transform ease-in-out;
  }
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-left ul.navbar-nav {
  display: flex;
  align-items: center;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-left ul.navbar-nav li.nav-item a.nav-link {
  font-size: 100%;
  color: #1c7256;
  font-weight: bold;
  padding: 0 .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-left ul.navbar-nav li.nav-item a.nav-link:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  text-shadow: 0 0.09rem rgba(0, 0, 0, 0.3);
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-left ul.navbar-nav li.nav-item a.nav-link:hover {
  text-shadow: 0 0.09rem rgba(0, 0, 0, 0.2);
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-left ul.navbar-nav li.nav-item a.nav-link i.fa-shopping-cart {
  font-size: 24px;
}

main div.container-fluid header.container-fluid nav.navbar div.navbar-left ul.navbar-nav li.nav-item i.material-icons {
  font-size: 23px;
  transform: rotate(270deg);
  padding: 0;
}

@media (max-width: 767px) {
  main div.container-fluid header.container-fluid nav.navbar div.navbar-left ul.navbar-nav {
    font-size: 90%;
    width: 55vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  main div.container-fluid header.container-fluid nav.navbar div.navbar-left a.nav-link {
    margin-left: 5px;
  }
  main div.container-fluid header.container-fluid nav.navbar div.navbar-left a.nav-link.nav-link-login {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  main div.container-fluid header.container-fluid nav.navbar div.navbar-left ul.navbar-nav {
    font-size: 90%;
  }
  main div.container-fluid header.container-fluid nav.navbar div.navbar-left ul.navbar-nav a.nav-link.nav-link-login {
    padding-left: 0;
    font-size: 90% !important;
  }
  main div.container-fluid header.container-fluid nav.navbar div.navbar-left ul.navbar-nav i.material-icons {
    font-size: 19px !important;
  }
}

@media (max-width: 767px) {
  main div.container-fluid header.container-fluid nav.navbar {
    background-color: rgba(255, 255, 255, 0.68);
    padding-right: 0;
  }
}

main div.container-fluid header.container-fluid .form-register {
  display: flex;
  justify-content: center;
}

main div.container-fluid header.container-fluid .form-register form.needs-validation .form-group {
  padding: 0;
}

main div.container-fluid header.container-fluid .form-register form.needs-validation .form-group .btn-signin {
  background-color: #1C7256;
  color: #fff;
}

main div.container-fluid header.container-fluid .form-register .modal-body {
  padding: 0;
}

main div.container-fluid header.container-fluid .form-register .modal-body .was-validated .form-check-input:valid ~ .form-check-label {
  color: #000;
}

main div.container-fluid div.side-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  height: 400px;
}

main div.container-fluid div.side-title div.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: end;
}

main div.container-fluid div.side-title div.row p.h3 {
  font-weight: bold;
  line-height: 1.5em;
  color: #fff;
  text-shadow: 0 2px rgba(53, 53, 53, 0.6);
  margin: .7rem;
}

main div.container-fluid div.side-title div.row a.button {
  background-color: #dc3545;
  text-decoration: none;
  border-radius: 7px;
  color: #f1f1f1;
  outline: 0;
  text-align: center;
  cursor: pointer;
  background-color: #fe6666;
  border: none;
  padding: .8rem .9rem;
  margin-top: 1rem;
  font-size: 90%;
  font-weight: bold;
}

main div.container-fluid div.side-title div.row a.button:hover {
  box-shadow: 0 1px 3px 3px rgba(241, 241, 241, 0.5);
}

section.circle-elements div.row div.circle-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.circle-elements div.row div.circle-item:hover {
  transition: all .3s ease;
  transform: translateY(-4px);
  cursor: pointer;
}

section.circle-elements div.row div.circle-item img.rounded-circle {
  width: 85%;
  box-shadow: 0 0 3px 3px #faf6fb;
}

section.circle-elements div.row div.circle-item img.rounded-circle:hover {
  box-shadow: 0 0 9px 3px rgba(149, 144, 148, 0.5);
}

@media (max-width: 991px) {
  section.circle-elements div.row div.circle-item img.rounded-circle {
    width: 75%;
  }
}

@media (max-width: 767px) {
  section.circle-elements div.row div.circle-item img.rounded-circle {
    width: 70%;
  }
}

section.circle-elements div.row div.circle-item p {
  margin-top: .5rem;
  font-weight: bold;
  color: #fe6666;
}

section.offer-section {
  background-color: #faf6fb;
  width: 100%;
  height: 100vh;
  padding: 3rem 0;
  padding: 2rem 0;
  height: auto;
}

section.offer-section div.row {
  margin: 0 0 2rem;
}

section.offer-section div.row div.product-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
}

section.offer-section div.row div.product-item img {
  width: 90%;
  height: auto;
  border-radius: 16px;
}

section.offer-section div.row div.product-item img:hover {
  transform: scale(1.05);
  transition: all .7s ease;
  box-shadow: 2px 2px 3px 0 #f1f1f1;
}

section.offer-section div.row div.product-item a.product-link {
  text-align: center;
  margin: 1.5rem 0 .8rem;
  color: #fe6666;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  font-size: 90%;
}

section.offer-section div.row div.product-item a.product-link:active {
  outline: none;
}

section.offer-section div.row div.product-item div.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.offer-section div.row div.product-item div.pricing small {
  color: #fe6666;
}

section.offer-section div.row div.product-item div.pricing small del {
  text-decoration-color: #959094;
}

section.offer-section div.row div.product-item div.pricing span {
  color: #fe6666;
  font-weight: bold;
}

section.offer-section div.row div.product-item div.pricing a.button {
  background-color: #dc3545;
  text-decoration: none;
  border-radius: 7px;
  color: #f1f1f1;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: .5rem .7rem;
  margin-top: 1rem;
  font-size: 90%;
}

section.offer-section div.row div.product-item div.pricing a.button:hover {
  box-shadow: 0 1px 3px 3px rgba(254, 102, 102, 0.5);
}

section.offer-section div.row div.product-item:nth-child(2n) a.product-link {
  color: #1c7256;
}

section.offer-section div.row div.product-item:nth-child(2n) div.pricing small {
  color: #1c7256;
}

section.offer-section div.row div.product-item:nth-child(2n) div.pricing span {
  color: #1c7256;
}

@media (max-width: 991px) {
  section.offer-section div.row div.product-item a.product-link {
    font-size: 85%;
  }
  section.offer-section div.row div.product-item div.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.offer-section div.row div.product-item div.pricing a.button {
    background-color: #dc3545;
    text-decoration: none;
    border-radius: 7px;
    color: #f1f1f1;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: .5rem .7rem;
    margin-top: 1rem;
    font-size: 85%;
  }
}

section.box-flowers-images {
  width: 100%;
  height: 450vh;
  background: #fff;
  display: flex;
}

section.box-flowers-images div.all-content {
  display: flex;
}

section.box-flowers-images div.all-content div.content-box {
  display: flex;
  flex-direction: column;
}

section.box-flowers-images div.all-content div.content-box img {
  width: 100%;
}

section.box-flowers-images div.all-content div.content-box span.text-box {
  font-weight: 600;
  color: #fff;
}

section.box-flowers-images div.all-content div.content-box a.button {
  background-color: #dc3545;
  text-decoration: none;
  border-radius: 7px;
  color: #f1f1f1;
  outline: 0;
  text-align: center;
  cursor: pointer;
}

section.box-flowers-images div.all-content div.content-box a.button:hover {
  box-shadow: 0 1px 3px 3px rgba(241, 241, 241, 0.5);
}
/*# sourceMappingURL=main.css.map */