$color-green :rgb(28, 114, 86);
$color-pink :rgb(234, 139, 119);
$color-pink2:#fe6666;
$color-pink3:rgb(220,53,69);
$color-navbar:rgba(255, 255, 255, .68);
$color-light: #f1f1f1;
$color-5:#ff4d4d;
$color-6:#ff3838;

$lineWidth: .5rem;
$lineLength: 25px;
$baseMargin: 8px;