@import "fonts";
@import "base";

body {
    direction: rtl;
    background-image: url(./../img/);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    // z-index: 10;

    .navbar {
        background-color: $color-navbar;
        &-brand {
            &-img {
                width: auto;
                height: 60px;
                padding: 5px;
            }
        }

        .nav-link {
            font-family: "Samim";
            font-size: 100%;
            color: $color-pink;
        }

        .navbar-collapse{
            .nav-item{
                .nav-link{
                    font-weight: bold;
                    .fa-angle-down{
                        font-weight: bold;
                     }
                }
               
            }

        }
    }
}